<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>云笔记首页</title>
    <style>
        .container{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .container div{
            width: 100px;
            height: 100px;
            background-color: white;
        }
    </style>
</head>
<body>
    <div align="center">
        {% if request.session.uname %}
        <p>
            {{ request.session.uname }}<br>
            welcome to my yun note 
        </p>
        <p>
            <a href="/note/all/{{ request.session.uid }}">进入我的云笔记</a>
        </p>
        <p>
            <a href="/user/logout">退出登录</a>
        </p>
    {% else %}
        {% if request.COOKIES.uname%}  
        <p>
            {{ request.COOKIES.uname }}<br>
            welcome to my yun note 
        </p>
        <p>
            <a href="/note/all/{{ request.session.uid }}">进入我的云笔记</a>
        </p>
        <p>
            <a href="/user/logout">退出登录</a>
        </p>
        {% else %}
            <p>
                <a href="/user/login">登录</a>
            </p>
            <p>
                <a href="/user/reg">注册</a>
            </p>
        {% endif %}
    {% endif %}
    </div>
    
        

</body>
</html>